<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!-- Modifica Server según tu instancia de SQL Server -->
    <!-- Ejemplos: localhost\SQLEXPRESS | .\SQLEXPRESS | NOMBRE-PC\SQLEXPRESS -->
    <add name="ConquiTapDB"
         connectionString="Server=JOSUE-PC\SQLEXPRESS;Database=ConquiTap;Trusted_Connection=True;TrustServerCertificate=True;"
         providerName="Microsoft.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="AppVersion" value="1.0.0" />
    <add key="AppName" value="ConquiTap" />
    <add key="Organizacion" value="ADONE" />
  </appSettings>
</configuration>
